{% extends "lara_base.html" %}

{% block title %}Process-Overview{% endblock %}

{% block top %} 
  <h1> LARA Processes</h1>
  <p> </p> 
{% endblock %}

{% block main_content %}
{% if lara_process_list %}
    <ul>
    {% for item in lara_process_list %}
       <li><a href="{% url 'lara_processes:device_details' item.device_id %}" title={{ item.device.name }}> {{ item.name }} {{ item.full_name }} </a> </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No processes are available.</p>
{% endif %}

{% endblock %}

