{% extends "lara_processes_base.html" %}

{% load static %}

{% if lara_user %}

{% block title %} People detail {% endblock %}

{% block top %} 
  <h1> LARA People detail </h1>
  <p> LARA people detail   </p> 
  <div class='portrait-image' > 
        <a> <img style="width:110px" src="{% static "lara_people/"%}{{lara_user.entity.name}}/{{lara_user.entity.image_filename}}" alt="{{lara_user.entity.image_filename}}">
        </a>
  </div>
{% endblock %}

{% block main_content %}


<div class='info-box' > 
    <div class='info-box-main'>
         {{lara_user.user.first_name }} {{lara_user.user.last_name }} 
    </div>

    <div class='info-box-detail'>
         {{lara_user.entity.name }} 
    </div>

</div>

<div class='address-box'>
<h2> Address </h2>
    
    <div class='address-box-detail'>  
     <p>{{lara_user.entity.full_name }}  </p>
     <p> {{lara_user.entity.address.street }}</p>
     <p> {{lara_user.entity.address.postal_colde }}</p> 
     <p> {{lara_user.entity.address.city }} </p>
     </div>
</div>
 

{% endblock %}

{% else %}
    <p>Sorry, no Users available.</p>
{% endif %}
