{% extends "lara_processes_base.html" %}

{% block title %}people search res.{% endblock %}

{% block top %} 
  <h1> LARA People Search Results </h1>
  <p>  </p> 
{% endblock %}


{% block main_content %}
{% if lara_user_list %}
    <ul>
    {% for item in lara_user_list %}
       <li><a href="{% url 'lara_processes:lara_user_detail' item.lara_user_id %}" title={{ item.user.full_name }}> {{ item.user.first_name }} {{ item.user.last_name }} </a> </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No matching users found.</p>
{% endif %}

{% endblock %}

